
.button:hover{
opacity: 50%;
}

.main{
    background-color: aquamarine;
}

.question{
    border: black 1px solid;
    min-height: 118.88px;
}

@media (max-width: 300px){
h1{
    font-size: medium;
}
}